<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T</title>
</head>
<body>
    <form action="/">
        <input name="name" type="text" placeholder="Enter Faculty Name">
        <br>
        <select name="universityId" id="">
            <option value="">Select university</option>
            <option value="1">Milliy</option>
            <option value="2">TATU Urgench</option>
            <option value="3">Texnika</option>
        </select>
        <button>SAVE</button>
    </form>
</body>
</html>